:root {
  --fuentePrincipal: 'Poppins', sans-serif;

  --gris: #63696eff;
  /**text**/

  --grayText: rgb(163, 162, 162);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 1rem 0 4rem 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 5.8rem;
}

h3 {
  font-size: 5rem;
}

a {
  text-decoration: none;
}

span {
  color: var(--gris);
}

.sub-text {
  color: var(--grayText);
  font-weight: 300;
}



@media (min-width: 768px) { 
    
}

@media (min-width: 768px) {
  h1 {
    margin: 1rem 0 4rem 0;
  }
  .titulo {
    font-size: 4.8rem;
    
  }
}

@media (min-width: 768px) {
  p {
    font-size: 2rem;
  }
}
